
#hittah1 {
    margin-top:0px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin-bottom:0px;
    font-size:110px;
    color:white;
    background-color:black;
}

#spårvagnTitle {
    text-align: center;
}


#hitta {
    margin-top:0px;
    font-family: 'Monsieur La Doulaise', cursive;
    font-size:50px;
    text-align: center;
    color:white;
    background-color:black;


}
.spårvagn {
display:flex;
text-align: center;
margin:100px;
}
.spårvagn2 {
   margin-left:100px;
    }

.bottomText {
    text-align: center;
}